body {
    margin: 0px;
    background-color: hsla(45, 67%, 72%, 1);
}

img {
    padding: 20px,0px,0px,0px;
    max-width: 100%; 
    height: auto; 
}

p {
    text-align: center;
    background-color:lightblue;
    color:cornsilk; 
    font-family:verdana; 
    font-size:36px;
    font-weight: 100; 

}

h1{
    magin: 50px,0px,0px,0px;
    padding: 40px 80px 0px 120px;
    text-align: right;
    color: hsla(45, 86%, 61%, 1);
    background-color: cornsilk;
    font-family: fantasy, sans-serif;
    font-size: 40px;
    letter-spacing: 0.2em;
}

/*this is our navigation style*/
nav{
    text-align: center;
    position: fixed;
    top: 0px;
    width:100%;
    padding: 0px;
}
ul {
    list-style-type: none;
}
li {
/*    list by default is a block item (display mode)*/
    display: inline-block;
    margin: 20px;
    font-family: fantasy, sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em; /* relative to font-size */
}

.navtext{
    color: black;
}
.navtext:hover{
    color: hsla(45, 86%, 61%, 1);
}